@model IEnumerable<Car>

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Carbook - Free Bootstrap 4 Template by Colorlib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/css/open-iconic-bootstrap.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/animate.css" asp-append-version="true">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/magnific-popup.css" asp-append-version="true">

    <link rel="stylesheet" href="~/css/aos.css" asp-append-version="true">

    <link rel="stylesheet" href="~/css/ionicons.min.css" asp-append-version="true">

    <link rel="stylesheet" href="~/css/bootstrap-datepicker.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/jquery.timepicker.css" asp-append-version="true">

   
    <link rel="stylesheet" href="~/css/flaticon.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/icomoon.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
  </head>
  <body>
    
	
    <!-- END nav -->
    
    <div class="hero-wrap ftco-degree-bg" style="background-image: url('/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text justify-content-start align-items-center justify-content-center">
          <div class="col-lg-8 ftco-animate">
          	<div class="text w-100 text-center mb-md-5 pb-md-5">
	            <h1 class="mb-4">@RotaCar_Rental.Resources.Resource.Fast_Easy_Way_To_Rent_A_Car</h1>
                        <p style="font-size: 18px;">@RotaCar_Rental.Resources.Resource.explanation</p>
	            <a href="https://vimeo.com/45830194" class="icon-wrap popup-vimeo d-flex align-items-center mt-4 justify-content-center">
	            	<div class="icon d-flex align-items-center justify-content-center">
	            		<span class="ion-ios-play"></span>
	            	</div>
	            	<div class="heading-title ml-5">
                                <span>@RotaCar_Rental.Resources.Resource.Easy_steps_for_renting_a_car</span>
	            	</div>
	            </a>
            </div>
          </div>
        </div>
      </div>
    </div>

     <section class="ftco-section ftco-no-pt bg-light">
    	<div class="container">
    		<div class="row no-gutters">
    			<div class="col-md-12	featured-top">
    				<div class="row no-gutters">
                        <div class="col-md-4 d-flex align-items-center" class="request-form ftco-animate bg-primary">
	  						@* <form action="#" class="request-form ftco-animate bg-primary"> *@
                                <h2>@RotaCar_Rental.Resources.Resource.Make_your_trip</h2>
                                
                                <div class="form-group mb-3">
                                  
                                 <form >
                                        <label class="label">@RotaCar_Rental.Resources.Resource.Pick_up_location</label>
                                    <input type="text" class="form-control" id="searchInput" placeholder="City, Airport, Station, etc">
                                    <div id="searchResults"></div>
                                 </form>
                                 </div>
			    				<div class="form-group">
                                    <label for="" class="label">@RotaCar_Rental.Resources.Resource.Drop_off_location</label>
			    					<input type="text" class="form-control" placeholder="City, Airport, Station, etc">
			    				</div>
			    				<div class="d-flex">
			    					<div class="form-group mr-2">
                                        <label for="" class="label">@RotaCar_Rental.Resources.Resource.Pick_up_date</label>
			                <input type="text" class="form-control" id="book_pick_date" placeholder="Date">
			              </div>
			              <div class="form-group ml-2">
                                        <label for="" class="label">@RotaCar_Rental.Resources.Resource.Drop_off_date</label>
			                <input type="text" class="form-control" id="book_off_date" placeholder="Date">
			              </div>
		              </div>
		             @*  <div class="form-group">
		                <label for="" class="label">Pick-up time</label>
		                <input type="text" class="form-control" id="time_pick" placeholder="Time">
		              </div> *@
			            <div class="form-group">
			              <input type="submit" value="Rent A Car Now" class="btn btn-secondary py-3 px-4">
			            </div>
			    			@* </form> *@
	  					</div>
	  					<div class="col-md-8 d-flex align-items-center">
	  						<div class="services-wrap rounded-right w-100">
                                <h3 class="heading-section mb-4">@RotaCar_Rental.Resources.Resource.Better_Way_to_Rent_Your_Perfect_Cars</h3>
	  							<div class="row d-flex mb-4">
					          <div class="col-md-4 d-flex align-self-stretch ftco-animate">
					            <div class="services w-100 text-center">
				              	<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-route"></span></div>
				              	<div class="text w-100">
                                                <h3 class="heading mb-2">@RotaCar_Rental.Resources.Resource.Choose_Your_Pickup_Location</h3>
				                </div>
					            </div>      
					          </div>
					          <div class="col-md-4 d-flex align-self-stretch ftco-animate">
					            <div class="services w-100 text-center">
				              	<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-handshake"></span></div>
				              	<div class="text w-100">
                                                <h3 class="heading mb-2">@RotaCar_Rental.Resources.Resource.Select_the_Best_Deal</h3>
					              </div>
					            </div>      
					          </div>
					          <div class="col-md-4 d-flex align-self-stretch ftco-animate">
					            <div class="services w-100 text-center">
				              	<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-rent"></span></div>
				              	<div class="text w-100">
                                                <h3 class="heading mb-2">@RotaCar_Rental.Resources.Resource.Reserve_Your_Rental_Car</h3>
					              </div>
					            </div>      
					          </div>
					        </div>
                                <p><a href="#" class="btn btn-primary py-3 px-4">@RotaCar_Rental.Resources.Resource.Reserve_Your_Perfect_Car</a></p>
	  						</div>
	  					</div>
	  				</div>
				</div>
  		</div>
  		</div>
    </section>


    <section class="ftco-section ftco-no-pt bg-light">
    	<div class="container">
    		<div class="row justify-content-center">
          <div class="col-md-12 heading-section text-center ftco-animate mb-5">
          	<span class="subheading">What we offer</span>
            <h2 class="mb-2">Feeatured Vehicles</h2>
          </div>
        </div>
    		<div class="row">
    			<div class="col-md-12">
    				<div class="carousel-car owl-carousel">

                        @foreach(var cars in Model.Take(10))
                        {
                            <div class="item">
    						<div class="car-wrap rounded ftco-animate">
                                <div class="img rounded d-flex align-items-end" style="background-image: url(@cars.ImageUrl);">
		    					</div>
		    					<div class="text">
		    						<h2 class="mb-0"><a href="#">@cars.Model</a></h2>
		    						<div class="d-flex mb-3">
			    						<span class="cat">@cars.Make</span>
			    						<p class="price ml-auto">$@cars.RentalRateDaily <span>/day</span></p>
		    						</div>
		    						<p class="d-flex mb-0 d-block"><a href="#" class="btn btn-primary py-2 mr-1">Book now</a> <a asp-controller="Car" asp-action="car_single" asp-route-id="@cars.Id" class="btn btn-secondary py-2 ml-1">Details</a></p>
		    					</div>
		    				</div>
    					</div>



                        }



                       
    				</div>
    			</div>
    		</div>
    	</div>
    </section>

    <section class="ftco-section ftco-about">
			<div class="container">
				<div class="row no-gutters">

                <div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url('/images/Premium Photo _ Sale agent handshake.jpeg');">
					</div>
					<div class="col-md-6 wrap-about ftco-animate">
	          <div class="heading-section heading-section-white pl-md-5">
	          	<span class="subheading">Hakkımızda</span>
	            <h2 class="mb-4">RotaCar`a Hoş Geldiniz</h2>

                        <p>
                            Hızlı, kolay ve güvenilir araç kiralama deneyimi için doğru yerdesiniz. İster lüks bir araç,
                            ister bütçe dostu bir seçenek arıyor olun, RotaCar’da aradığınızı bulacaksınız.
                            Geniş araç yelpazemizi keşfedin ve yolculuğunuza sadece birkaç tıklamayla başlayın!
                        </p>

	            <p><a href="#" class="btn btn-primary py-3 px-4">Araba Bul</a></p>
	          </div>
					</div>
				</div>
			</div>
		</section>

		<section class="ftco-section">
			<div class="container">
				<div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center heading-section ftco-animate">
          	<span class="subheading">Hizmetler</span>
                    <h2 class="mb-3">En Son Hizmetlerimiz</h2>
          </div>
        </div>
				<div class="row">
					<div class="col-md-3">
						<div class="services services-2 w-100 text-center">
            	<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-wedding-car"></span></div>
            	<div class="text w-100">
                <h3 class="heading mb-2">Wedding Ceremony</h3>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
              </div>
            </div>
					</div>
					<div class="col-md-3">
						<div class="services services-2 w-100 text-center">
            	<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-transportation"></span></div>
            	<div class="text w-100">
                <h3 class="heading mb-2">City Transfer</h3>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
              </div>
            </div>
					</div>
					<div class="col-md-3">
						<div class="services services-2 w-100 text-center">
            	<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-car"></span></div>
            	<div class="text w-100">
                <h3 class="heading mb-2">Airport Transfer</h3>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
              </div>
            </div>
					</div>
					<div class="col-md-3">
						<div class="services services-2 w-100 text-center">
            	<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-transportation"></span></div>
            	<div class="text w-100">
                <h3 class="heading mb-2">Whole City Tour</h3>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
              </div>
            </div>
					</div>
				</div>
			</div>
		</section>

    <section class="ftco-section ftco-intro" style="background-image: url('/images/Premium Photo _ Sale agent handshake.jpeg');">
			<div class="overlay"></div>
			<div class="container">
				<div class="row justify-content-end">
					<div class="col-md-6 heading-section heading-section-white ftco-animate">
            <h2 class="mb-3">Do You Want To Earn With Us? So Don't Be Late.</h2>
            <a href="#" class="btn btn-primary btn-lg">Become A Driver</a>
          </div>
				</div>
			</div>
		</section>


    <section class="ftco-section testimony-section bg-light">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center heading-section ftco-animate">
          	<span class="subheading">Testimonial</span>
            <h2 class="mb-3">Happy Clients</h2>
          </div>
        </div>
        <div class="row ftco-animate">
          <div class="col-md-12">
            <div class="carousel-testimony owl-carousel ftco-owl">
              <div class="item">
                <div class="testimony-wrap rounded text-center py-4 pb-5">
                                <div class="user-img mb-2" style="background-image: url('/images/person_1.jpg')">
                  </div>
                  <div class="text pt-4">
                    <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Roger Scott</p>
                    <span class="position">Marketing Manager</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap rounded text-center py-4 pb-5">
                                <div class="user-img mb-2" style="background-image: url('/images/person_2.jpg')">
                  </div>
                  <div class="text pt-4">
                    <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Roger Scott</p>
                    <span class="position">Interface Designer</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap rounded text-center py-4 pb-5">
                                <div class="user-img mb-2" style="background-image: url('/images/person_3.jpg')">
                  </div>
                  <div class="text pt-4">
                    <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Roger Scott</p>
                    <span class="position">UI Designer</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap rounded text-center py-4 pb-5">
                                <div class="user-img mb-2" style="background-image: url('/images/person_1.jpg')">
                  </div>
                  <div class="text pt-4">
                    <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Roger Scott</p>
                    <span class="position">Web Developer</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap rounded text-center py-4 pb-5">
                                <div class="user-img mb-2" style="background-image: url('/images/person_1.jpg')">
                  </div>
                  <div class="text pt-4">
                    <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Roger Scott</p>
                    <span class="position">System Analyst</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>



    <section class="ftco-counter ftco-section img bg-light" id="section-counter">
			<div class="overlay"></div>
    	<div class="container">
    		<div class="row">
          <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
            <div class="block-18">
              <div class="text text-border d-flex align-items-center">
                <strong class="number" data-number="60">0</strong>
                            <span>@RotaCar_Rental.Resources.Resource.Year <br>@RotaCar_Rental.Resources.Resource.Experienced</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
            <div class="block-18">
              <div class="text text-border d-flex align-items-center">
                <strong class="number" data-number="290">0</strong>
                            <span>@RotaCar_Rental.Resources.Resource.Total <br>@RotaCar_Rental.Resources.Resource.Cars</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
            <div class="block-18">
              <div class="text text-border d-flex align-items-center">
                <strong class="number" data-number="2590">0</strong>
                            <span>@RotaCar_Rental.Resources.Resource.Happy <br>@RotaCar_Rental.Resources.Resource.Customers</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
            <div class="block-18">
              <div class="text d-flex align-items-center">
                <strong class="number" data-number="67">0</strong>
                            <span>@RotaCar_Rental.Resources.Resource.Total <br>@RotaCar_Rental.Resources.Resource.Branches</span>
              </div>
            </div>
          </div>
        </div>
    	</div>
    </section>	


  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>
  <style>
        #searchResults .result-item {
            cursor: pointer;
            padding: 10px;
            border: 1px solid #ddd;
            margin-bottom: 5px;
        }

            #searchResults .result-item:hover {
                background-color: #f0f0f0;
            }
</style>
  @section Scripts{
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <script>
            $(document).ready(function () {
                // Listen for keyup event on the search input
                $('#searchInput').on('keyup', function () {
                    // Get the current input value
                    var searchTerm = $(this).val();

                    // Send AJAX request only if the input has at least one character
                    if (searchTerm.length > 1) {
                        $.ajax({
                            url: '@Url.Action("SearchLocations", "Home")',
                            type: 'GET',
                            data: { searchTerm: searchTerm },
                            success: function (data) {
                                // Clear previous results
                                $('#searchResults').empty();

                                // Display new results
                                if (data.length > 0) {
                                    $.each(data, function (i, location) {
                                        var resultItem = $('<div>')
                                            .addClass('result-item')
                                            .text(location.name)
                                            .on('click', function () {
                                                $('#searchInput').val(location.name);
                                                $('#searchResults').empty();
                                            });
                                        $('#searchResults').append(resultItem);
                                    });
                                } else {
                                    $('#searchResults').append('<p>No Locations found</p>');
                                }
                            }
                        });
                    } else {
                        // Clear results if the search box is empty
                        $('#searchResults').empty();
                    }
                });
            });
        </script>
        <script src="~/js/jquery.min.js"></script>
        <script src="~/js/jquery-migrate-3.0.1.min.js"></script>
        <script src="~/js/popper.min.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/js/jquery.easing.1.3.js"></script>
        <script src="~/js/jquery.waypoints.min.js"></script>
        <script src="~/js/jquery.stellar.min.js"></script>
        <script src="~/js/owl.carousel.min.js"></script>
        <script src="~/js/jquery.magnific-popup.min.js"></script>
        <script src="~/js/aos.js"></script>
        <script src="~/js/jquery.animateNumber.min.js"></script>
        <script src="~/js/bootstrap-datepicker.js"></script>
        <script src="~/js/jquery.timepicker.min.js"></script>
        <script src="~/js/scrollax.min.js"></script>
        @*    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script> *@
        <script src="~/js/google-map.js"></script>
        <script src="~/js/main.js"></script>
  }
   
    
  </body>
</html>