<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RotaCar_Rental</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RotaCar_Rental.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
 @*        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">RotaCar_Rental</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav> *@
        
        <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
            <div class="container">
                <a class="navbar-brand"> <img src="~/icones/Logo1.png" width="40%" alt=""> </a>
               @*  <a class="navbar-brand" href="index.html">Car<span>Book</span></a> *@
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="oi oi-menu"></span> Menu
                </button>

                <div class="collapse navbar-collapse" id="ftco-nav">
                    <ul class="navbar-nav ml-auto">
                        
                        <li class="nav-item active"><a asp-area="Customer" asp-controller="Home" asp-action="Index" class="nav-link">@RotaCar_Rental.Resources.Resource.Home</a></li>
                        <li class="nav-item"><a asp-area="Customer" asp-controller="Home" asp-action="About" class="nav-link">@RotaCar_Rental.Resources.Resource.About</a></li>
                        <li class="nav-item"><a asp-area="Customer" asp-controller="Home" asp-action="services" class="nav-link">@RotaCar_Rental.Resources.Resource.Services</a></li>
                        <li class="nav-item"><a asp-area="Customer" asp-controller="Car" asp-action="Pricing" class="nav-link">@RotaCar_Rental.Resources.Resource.Pricing</a></li>
                        <li class="nav-item"><a asp-area="Customer" asp-controller="Car" asp-action="car" class="nav-link">@RotaCar_Rental.Resources.Resource.Cars</a></li>
                        <li class="nav-item"><a asp-area="Customer" asp-controller="Blog" asp-action="blog" class="nav-link">@RotaCar_Rental.Resources.Resource.Blog</a></li>
                        <li class="nav-item"><a asp-area="Customer" asp-controller="Home" asp-action="Contact" class="nav-link">@RotaCar_Rental.Resources.Resource.Contact</a></li>
                        @if (User.IsInRole(SD.Role_User_Admin))
                        { 
                            <li class="nav-item"><a asp-area="Admin" asp-controller="CarCrud" asp-action="Index" class="nav-link">Admin</a></li>
                            
                        }
                       
                    </ul>
                    <ul class="navbar-nav text-end">
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" href="#" role="button"  data-bs-toggle="dropdown" aria-expanded="false">
                                @if (Thread.CurrentThread.CurrentCulture.ToString()=="en")
                                {
                                    <span>English</span>
                                }else if (Thread.CurrentThread.CurrentCulture.ToString() == "tr")
                                {
                                    <span>türkçe</span>
                                }else {
                                    <span>عربي</span>
                                }
                            </a>
                            <ul class="dropdown-menu" >
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="ChangeLanguage" asp-route-lang="en">English</a></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="ChangeLanguage" asp-route-lang="tr">Turkish</a></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="ChangeLanguage" asp-route-lang="ar">Arabic</a></li>
                            </ul>
                        </li>
                        
                    </ul>
                    <partial name = "_LoginPartial" />
                   
                   
                </div>
            </div>
        </nav>
        <!-- END nav -->
    </header>
    <div >
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="ftco-footer ftco-bg-dark ftco-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <a href="#" class="logo"> <img src="~/icones/Logo1.png" width="40%" alt=""> </a>
                        @* <h2 class="ftco-heading-2"><a href="#" class="logo">Car<span>book</span></a></h2> *@
                        <p>@RotaCar_Rental.Resources.Resource.footer_ex</p>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4 ml-md-5">
                        <h2 class="ftco-heading-2">@RotaCar_Rental.Resources.Resource.Information</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-2 d-block">@RotaCar_Rental.Resources.Resource.About</a></li>
                            <li><a href="#" class="py-2 d-block">@RotaCar_Rental.Resources.Resource.Services</a></li>
                            <li><a href="#" class="py-2 d-block">@RotaCar_Rental.Resources.Resource.Term_and_Conditions</a></li>
                            <li><a href="#" class="py-2 d-block">@RotaCar_Rental.Resources.Resource.Best_Price_Guarantee</a></li>
                            <li><a href="#" class="py-2 d-block">@RotaCar_Rental.Resources.Resource.Privacy_and_Cookies_Policy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">@RotaCar_Rental.Resources.Resource.Customer_Support</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-2 d-block">FAQ</a></li>
                            <li><a href="#" class="py-2 d-block">@RotaCar_Rental.Resources.Resource.Payment_Option</a></li>
                            <li><a href="#" class="py-2 d-block">@RotaCar_Rental.Resources.Resource.Booking_Tips</a></li>
                            <li><a href="#" class="py-2 d-block">@RotaCar_Rental.Resources.Resource.How_it_works</a></li>
                            <li><a href="#" class="py-2 d-block">@RotaCar_Rental.Resources.Resource.Contact_Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">@RotaCar_Rental.Resources.Resource.Have_a_Questions_</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="icon icon-map-marker"></span><span class="text">ÇİFTLİKKÖY MAH.MERSİN UNIVERSITY CAMPUS AREA (CLUSTER HOUSES) TECHNOPARK SITE. NO:35 A/406 YENİŞEHİR MERSİN</span></li>
                                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+90-551-937-87-55</span></a></li>
                                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@rota.com</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">

                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> @RotaCar_Rental.Resources.Resource.All_rights_reserved 
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
