@model IEnumerable<Location>


<!-- partial -->
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="row pt-4 pb-3">
                <div class="col-6">
                    <h2 class="text-primary">
                        Location List
                    </h2>
                </div>
                <div class="col-6 text-end">
                    <a asp-controller="Location" asp-action="Edit" class="btn btn-primary">
                        <i class="bi bi-plus-circle">Insert New Location</i>
                    </a>
                </div>
            </div>

            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <p class="card-description">
                            Location <code>.table</code>
                        </p>
                        <div class="table-responsive">
                            <table id="locationtblData" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Street</th>
                                        <th>City</th>
                                        <th>State</th>
                                        <th>Zip</th>
                                        <th>Phone</th>
                                        <th>AvailableCar</th>
                                   
                                    </tr>
                                </thead>
                            
                            </table>
                        </div>
                    </div>
                </div>
            </div>


            <div id="map" style="width:100%;height:400px" ></div>
        </div>
        
    </div>
</div>

@section Scripts {
    <script src="~/js/Location.js"></script>
    <script src="~/lib/leaflet/leaflet.js"></script>
    <script src="~/lib/leaflet/leaflet.min.js"></script>

    @{

        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        var map = L.map('map').setView([38.67483900304286, 39.22198798978766], 12);

        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
        var jsModel = @Html.Raw(Json.Serialize(Model));
        console.log(jsModel);
        for (i in jsModel) {
            item = jsModel[i]
            L.marker([item.lat, item.long]).addTo(map)
                .binPopup(item.name + '<br>' + item.zip)
                .openPopup();

        }
    </script>
}

@* @model IEnumerable<Car>

<div class=" navbar-collapse justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="RentalCrud" asp-action="Index">rentals</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="LocationsCrud" asp-action="Index">Locations</a>
        </li>
    </ul>
</div>

@if (TempData["CarDeleted"] != null)
{
    <p class="text-success">@TempData["CarDeleted"]</p>
}
@if (!Model.Any())
{
    <p>No results</p>
}
else
{
    <table class="table table-condensed table-bordered">
        <tr>
            <th>
                Model
            </th>
            <th>
                RentalRateDaily
            </th>
            <th>
                RentalRateWeekly
            </th>
            <th>
                LicensePlate
            </th>  

            <th>
                Fual
            </th>
            <th>
                Make
            </th>
            <th>
                Mileage
            </th>
            <th>
                Seats
            </th>
            <th>
                Status
            </th>
            <th>
                Transmission
            </th>
            <th>
                Type
            </th>
            <th>
                Year
            </th>

        </tr>

        @foreach (var car in Model)
        {
            <tr>
                <td>@car.Model</td>
                <td>@car.RentalRateDaily</td>
                <td>@car.RentalRateWeekly</td>
                <td>@car.LicensePlate</td>
                <td>@car.Fuel</td>
                <td>@car.Make</td>
                <td>@car.Mileage</td>
                <td>@car.Seats</td>
                <td>@car.Status</td>
                <td>@car.Transmission</td>
                <td>@car.Type</td>
                <td>@car.Year</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@car.Id.ToString()">Edit</a>
                    <a asp-action="Delete" asp-route-id="@car.Id.ToString()">Delete</a>

                </td>
            </tr>
        }

    </table>
}

<p>
    <a class="btn btn-primary" asp-action="Add">Add new car</a>
</p>
 *@

